* {
    box-sizing: border-box;
}
#userInput {
    background-image: url('../Images/magnifying-glass.png'); /* Add a search icon to input */
    background-position: 570px -20px; /* Position the search icon */
    background-size: 120px;
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 24px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#restaurantTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#restaurantTable th, #restaurantTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#restaurantTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#restaurantTable tr.header, #restaurantTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

